/*
Name: Jay Lauzon
File: style.css
Date: July 25, 2026
Description: Stylesheet for Part 4 full-screen canvas layout.
*/

html, body {
  margin: 0;
}

html {
  font-family: sans-serif;
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  background: #000;
}

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: 10px;
  right: 10px;
  color: #bd8a3d;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.9);
}

p {
  position: absolute;
  margin: 0;
  top: 50px;
  right: 40px;
  color: #578094;
  font-size: 1.2rem;
}