html {
  background-color: rgb(98, 83, 143);
}

body {
  font: 1.2em / 1.5 Calibri, sans-serif;
  padding: 20px;
  width: 500px;
  background-color: #cbc6c6;
  margin: 0 auto;

}


h1 {
  color: rgb(111, 33, 133);
  border-bottom: 10px dotted rgb(26, 111, 191);
  font-size: 2rem;

}

h2 {
  font-size: 1.5rem;
  font-style: italic;
}

ul {

  background-color: white;
  border: 5px solid rgb(28, 72, 203);
  padding: 30px;
  border-radius: 20px;
}

a {
  color: green;
}

a:hover,
a:focus {
  color: rgb(3, 47, 3);
  text-decoration: none;
}