/* type */

body {
  font: 1.2em / 1.5 system-ui;
  margin: 0 auto;
  width: 90%;
  min-width: 800px;
  max-width: 1200px;
  background-color: rgb(54, 230, 240);
}

h1 {
  text-align: center;
}

.copyright {
  font-size: 0.8em;
}

/* nav menu */

nav {
  background-color: rgb(24, 75, 122);
}

ul {
  padding: 0;
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

li {
  flex: auto;
}

nav li:nth-child(1) {
  background-color: rgb(227, 74, 51);
}

nav li:nth-child(2) {
  background-color: rgb(241, 145, 40);
}

nav li:nth-child(3) {
  background-color: rgb(251, 194, 38);
}

nav li:nth-child(4) {
  background-color: rgb(44, 176, 108);
}

nav li:nth-child(5) {
  background-color: rgb(46, 134, 193);
}

nav li:nth-child(6) {
  background-color: rgb(111, 81, 162);
}

nav a {
  font-size: 1.2em;
  padding: 10px 20px;
  color: white;
  display: block;
}

/* General link styles */

a {
  text-decoration: none;
  color: red;
}

a:hover,
a:focus {
  text-decoration: underline;
}

/* header section layout */

header section {
  display: grid;
  grid-template-areas:
    "heading heading"
    "text video"
    "text video";
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

h1 {
  grid-area: heading;
}

header p {
  grid-area: text;
  margin: 0;
}

video {
  grid-area: video;
  width: 100%;
  border: 1px solid black;
}

/* image floats */

figure {
  float: right;
  margin-left: 20px;
  padding: 20px;
  background: orange;
  border: 1px solid black;
}

figcaption {
  font-size: 0.6em;
}