/* Solution: Apply fonts to the page */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300&family=Roboto+Slab:wght@700;900&display=swap');

html {
  font-family: 'Merriweather', Georgia, serif;
  scrollbar-color: #726f1b #532f08;
  scrollbar-width: thick; 
}

h1,
h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
  background-color: #4d848f;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #665d26;
}

footer {
  border-top: 5px solid #646630;
}

footer p {
  text-align: center;
}

/* Solution: General text styling */

h1 {
  font-size: 3rem;
  letter-spacing: 3px;
  text-align: center; 
  color: #491717;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0; 
  letter-spacing: 1px;
  color: #081a04;
}

section h2 + p {
  text-indent: 2rem;
}

p, li {
  line-height: 1.6;
  letter-spacing: 0.5px;
  font-weight: bold;
}
